<div class='resume'>
  <div class="title">
    <h1>R&eacute;sum&eacute;</h1>
  </div>

  <div class="print-row">
    <button type="button" class="btn btn-secondary btn-print" (click)="navigateToPrintResume()">Print</button>
  </div>

  <div class="dave-info">
    <div class="dave-name-holder"><div class="dave-name">Dave Wintermute</div></div>
    <div class="dave-info-details">
      <div class="dave-email"><a href="mailto:dwinterm@gmail.com">dwinterm@gmail.com</a></div>
      <div class="dave-location"><a href="https://goo.gl/maps/nyTK24fkrW1hfV3y9" target="_blank">Winter Park, FL</a></div>
      <div class="dave-site-url"><a href="http://www.davewintermute.com">http://www.davewintermute.com</a></div>
      <div class="dave-phone">561-313-3151</div>
    </div>
  </div>

  <hr class="resume-header-divider" />

  <h2 class="header-dev-summary">Developer Summary</h2>

  <div class="developer-summary">
    <span class="summary-title-highlight">Software Engineer</span> with diverse experience in areas such as Web, desktop, and mobile application development (with an emphasis on .Net), and a strong full-stack knowledge of contemporary front-end and back-end technology models.
    Demonstrates creative, robust and performant solutions to complex technical and process-related challenges, with an eye towards meeting business needs and determining the real problems facing users. Established reputation for quickly and comprehensively learning new technologies, concepts and codebases.
    Applies strong analytical expertise together with solid communication and interpersonal skills to ensure that projects are always moving forward towards a better end result.
  </div>

  <h2 class="skill-set-header">Technical Skillset</h2>

  <div class="skill-set">
    <ul>
      <li>C# / .NET (Core + Framework)</li>
      <li>ASP.NET Core, WebAPI + MVC</li>
      <li>Angular 2+, ReactJS</li>
      <li>MS SQL Server w/ Entity Framework</li>
      <li>TypeScript, CoffeeScript</li>
      <li>Redis, SignalR</li>
      <li>JavaScript w/ Ajax, jQuery</li>
      <li>HTML5, CSS3, Bootstrap, Angular Material</li>
      <li>ElasticSearch via GraphQL</li>
      <li>Cloud Services via Azure</li>
      <li>CI/CD pipelines with Jenkins, OpenShift</li>
      <li>Agile and Scrum methodology</li>
      <li>PowerShell, Bash</li>
      <li>WPF, Silverlight</li>
      <li>Git, TFS Source Control</li>
      <li>App Telemetry via Splunk, Serilog</li>
      <li>Unity Engine Game Development</li>
      <li>C / C++ (with STL)</li>
    </ul>
  </div>

  <h2 class="history-header">History</h2>

  <div class="history-entry availity">
    <div class="details-row">
      <span class="company-name">Availity</span>
      <span class="company-location">Jacksonville, FL</span>
      <span class="company-dates">2020 - 2021</span>
    </div>
    <div class="position">
      <span class="position-title">Senior Software Engineer</span>
      <div class="position-description">
        <ul>
          <li>
            Collaborated with customers like <span class="external-company-name">Aetna</span> and <span class="external-company-name">Blue Cross Blue Shield</span> to coalesce healthcare payment data in a performant and timely manner. Built a queue-based, distributed processing system for transforming and indexing incoming records into common formats. Leveraged CI/CD pipelines in Jenkins and OpenShift to frequently deploy .NET Core microservices for a variety of purposes. Scaled ad hoc implementations into extensible multi-customer solutions. Created React-based front-ends for reviewing and managing customer data and permissions. Documented technical implementation details and modeled user interactions into a Wiki-based format.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry agile-thought">
    <div class="details-row">
      <span class="company-name">AgileThought</span>
      <span class="company-location">Tampa, FL</span>
      <span class="company-dates">2019 - 2020</span>
    </div>
    <div class="position">
      <span class="position-title">Senior Software Consultant</span>
      <div class="position-description">
        <ul>
          <li>
            Collaborated with client <span class="external-company-name">PricewaterhouseCoopers</span> to build out a rich Angular-based client application, whose primary purpose was to facilitate the flow of financial documents between auditors, auditees and other stakeholders. Used technologies like ElasticSearch, Redis and RabbitMQ to ensure that .Net Core back-end could be distributed across Azure instances, thus allowing the servicing of 70,000 daily users and millions of daily transactions.
          </li>
          <li>
            On the front-end, applied Angular best practices to modularize codebase into hundreds of smaller components, lazy-loaded into the application to maintain performance as new features were constantly added. Incorporated popular client frameworks like ag-Grid and D3.js to visualize and stream large sets of client data. Leveraged a strong culture of quality and reliability to thoroughly unit test code using tools like Jasmine and Karma.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry assistrx">
    <div class="details-row">
      <span class="company-name">AssistRx</span>
      <span class="company-location">Orlando, FL</span>
      <span class="company-dates">2018 - 2019</span>
    </div>
    <div class="position">
      <span class="position-title">Senior Software Engineer</span>
      <div class="position-description">
        <ul>
          <li>
            Built applications in Angular and TypeScript to enable doctors, patients, and medical insurance representatives to more efficiently and quickly navigate the prescription process for critical specialty drugs.
            Wrote high-performance back-end services in ASP.Net Core and Entity Framework 6.
          </li>
          <li>Triaged and resolved production defects across a broad profile of active user-facing systems.</li>
          <li>Worked with and guided remote off-shore developers to magnify overall development throughput.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry universal">
    <div class="details-row">
      <span class="company-name">Universal Studios</span>
      <span class="company-location">Orlando, FL</span>
      <span class="company-dates">2018</span>
    </div>
    <div class="position">
      <span class="position-title">Senior Software Engineer (Contractor)</span>
      <div class="position-description">
        <ul>
          <li>
            Developed systems for the access control team at Universal's Volcano Bay park, managing ticketing and ride reservations for guests and park attendants.
            Built front-facing multi-media applications in .Net and WPF for facilitating a guest experience with minimal waiting.
          </li>
          <li>Refactored existing codebase into modular NuGet components, including thorough documentation and instructional demo applications. </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry lexis-nexis">
    <div class="details-row">
      <span class="company-name">Lexis Nexis Risk Solutions</span>
      <span class="company-location">Alpharetta, GA</span>
      <span class="company-dates">2014 - 2017</span>
    </div>
    <div class="position">
      <span class="position-title">Senior Software Engineer</span>
      <div class="position-description">
        <ul>
          <li>
            Contributed remotely as part of a geographically diverse team to deliver a full-featured and robust user-facing application on an aggressive deadline.
            Application was desktop-based, implemented on both Silverlight and WPF, and relies on WCF and Entity Framework to deliver data from Microsoft SQL Server.
            Ran on police squad cars; connected and offline operation.
          </li>
          <li>Agile team useed Git, FogBugz and Kiln to manage development work-flow such that all tasks were focused on user interaction, and that all code was thoroughly reviewed and tested before entering production. </li>
          <li>Managed relationship with a major customer, from case scheduling to new feature design and implementation to issue triage. </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry">
    <div class="details-row">
      <span class="company-name">Logisticare Solutions LLC</span>
      <span class="company-location">Gainesville, FL</span>
      <span class="company-dates">2014</span>
    </div>
    <div class="position">
      <span class="position-title">Senior Software Engineer</span>
      <div class="position-description">
        <ul>
          <li>Built and maintained multiple ASP.Net applications involving a variety of technology stacks (WebForms, MVC, WebAPI). Implemented multi-tiered service-based architecture; leveraged front-end technologies including TypeScript and Bootstrap. </li>
          <li>Oversaw transition of source control platform from Rational ClearCase to Microsoft Team Foundation Server, and subsequently initiated continuous integration including a nightly build process.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry">
    <div class="details-row">
      <span class="company-name">Mindtree Corporation</span>
      <span class="company-location">Gainesville, FL</span>
      <span class="company-dates">2012 - 2014</span>
    </div>
    <div class="position">
      <span class="position-title">Senior Software Engineer</span>
      <div class="position-description">
        <ul>
          <li>Collaborated closely with customer team to bring to market a product to visualize the health and realtime diagnostic status of large electric systems. Employed rich client-side interactivity technologies including several toolkits based on jQuery UI. Leveraged sophisticated n-tiered design centered on JSON-based Web services to deliver a responsive single-page user experience through ASP.NET MVC4.</li>
          <li>Lead project team developing several internal projects (related to resource management and workplace suggestion tracking). Used agile project management techniques for task scheduling, with Version One for iteration tracking. Leveraging ASP.NET MVC4 with jQuery UI as a development framework, Entity Framework 5 on MS SQL Server for data access and storage, and Team Foundation Server for version control. </li>
        </ul>
      </div>
    </div>
    <div class="position">
      <span class="position-title">Technologies Trainer</span>
      <div class="position-description">
        <ul>
          <li>Developed course material for and led courses for topics including: C# language features and the .NET environment, SQL and database concepts, Web application development in ASP.NET, integrating Web services using WCF, desktop application development in WPF with MVVM, testing concepts and methodologies, test automation using HP QuickTest Professional.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry tybrin">
    <div class="details-row">
      <span class="company-name">TYBRIN Corporation</span>
      <span class="company-location">Fort Walton Beach, FL</span>
      <span class="company-dates">2009 - 2012</span>
    </div>
    <div class="position">
      <span class="position-title">Software Development Engineer, Patriot Excalibur Project</span>
      <div class="position-description">
        <ul>
          <li>Engaged in the ground-up development of multiple completely new modules within the Patriot Excalibur product (which provides resource management and tracking facilities for military customers, primarily the USAF).</li>
          <li>Developed highly user-friendly user experiences using the Microsoft Silverlight framework, which leveraged Microsoft RIA WCF Services to deliver data from an Entity Framework-based back-end. </li>
          <li>On other projects, employed ExtJS and jQuery to develop Web-based user interface, which interacted with SOAP Web services (implemented in C#) via Ajax. Implemented underlying data model via Entity Framework on Microsoft SQL Server 2005; interfaced with it via extensive use of LINQ. Product built on ASP.NET running within IIS server environment.</li>
          <li>Worked successfully on team that subscribed thoroughly to Agile software engineering methodology and principles for its development practices and planning.</li>
        </ul>
      </div>
    </div>
    <div class="position">
      <span class="position-title">Software Development Engineer in Test, Patriot Excalibur Project</span>
      <div class="position-description">
        <ul>
          <li>Drove project to build a test automation framework and initial test set for the Patriot Excalibur product; Leveraged AutomatedQA TestComplete and Microsoft Visual Studio 2010 (pre-release candidate) Test Automation framework for this task. </li>
          <li>Served as technical mentor in development areas for those team members with experience more focused on software testing methodology and execution.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry citrix">
    <div class="details-row">
      <span class="company-name">Citrix Systems</span>
      <span class="company-location">Fort Lauderdale, FL</span>
      <span class="company-dates">2006 - 2009</span>
    </div>
    <div class="position">
      <span class="position-title">Software Development Engineer in Test, Application Streaming </span>
      <div class="position-description">
        <ul>
          <li>Contributed to test effort for first release of Citrix Application Streaming feature and initial Application Streaming application compatibility test plan.  </li>
          <li>Developed test suite for initial release of Citrix Streaming Profiler SDK, including both C# and VB support; collaborated with documentation team to build technical documentation for that release.</li>
        </ul>
      </div>
    </div>
    <div class="position">
      <span class="position-title">Software Development Engineer in Test, Citrix Password Manager (CPM)</span>
      <div class="position-description">
        <ul>
          <li>Key contributor to successful release of Citrix Password Manager product, including full test closedown cycle. </li>
          <li>Managed maintenance and feature development for CPM automated test system (encompassing several hundred automated testcases and substantial operating system-level integration; implemented primarily in C# through Visual Studio</li>
          <li>Implemented and integrated mechanisms to allow automated test platform to perform various logon operations via Vista credential provider interface. </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="history-entry">
    <div class="details-row">
      <span class="company-name">IBM</span>
      <span class="company-dates">2003 - 2004</span>
    </div>
    <div class="position">
      <span class="position-title">Extreme Blue Program, Austin, TX - Outspoken Team, Software Developer</span>
      <div class="position-description">
        <ul>
          <li>Worked with multi-functional team to develop first end-to-end Web application based on IBM’s multimodal interface technology. Built upon previous experience with IBM’s XHTML+VoiceXML language; worked within IBM’s WebSphere J2EE environment.</li>
        </ul>
      </div>
    </div>
    <div class="position">
      <span class="position-title">Pervasive Computing, Boca Raton, FL - Software Developer  </span>
      <div class="position-description">
        <ul>
          <li>Interned with IBM Pervasive Computing Development organization, working on development of world’s first multimodal Web browser.</li>
          <li>Successfully delivered numerous XHTML+VoiceXML technology demonstrations and test scenarios; implemented in the J2EE environment, interacted with IBM DB2 databases.</li>
        </ul>
      </div>
    </div>
  </div>

  <h2>Education</h2>

  <div class="education">
    <div class="degree">BS, Computer Science</div>
    <div class="school">University of Michigan, Ann Arbor, MI, 2005</div>
  </div>
</div>
