@import '../../../assets/scss/mixins.scss';
@import '../../../assets/scss/variables.scss';

@include print {
  .resume {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 18px;
    color: black;
  }
}

.title {
  @include print {
    display: none;
  }
}

.print-row {
  @media print {
    display: none;
  }

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-print {
  margin-top: 5px;
  font-weight: 700;
}

.dave-site-url {
  @media screen {
    display: none;
  }
}

.big-dave-name {
  @media screen {
    display: none;
  }
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(80, 80, 80);
  margin-left: -20px;
  margin-top: -20px;
}

.big-dave-name hr {
  margin-top: -5px;
}

.header-dev-summary {
  @media print {
    margin-top: 1em;
  }
}

.body-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3em;
  text-align: center;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.summary-title-highlight {
  font-weight: 700;
}

.dave-info {
  @media screen {
    margin-top: 15px;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dave-info hr {
  @media screen {
    display: none;
  }
}

.dave-info-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.dave-info a {
  text-decoration: none;
}

.dave-name {
  @media screen {
    display: none;
  }

  @media print {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(80, 80, 80);
    margin-top: 25px;
  }
}

hr.resume-header-divider {
  @media screen {
    display: none;
  }

  margin-top: 0px;
}

.history-entry {
  margin-top: 30px;
}

@media print {
  .skill-set-header {
    margin-bottom: 10px;
  }

  .history-header {
    margin-bottom: -5px;
  }
}

.skill-set ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0; /* To remove default bottom margin */
  padding: 0; /* To remove default left padding */
  margin-left: 10px;
  margin-right: 10px;
}

.skill-set li {
  display: block;
  width: 50%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;

  @media screen {
    font-size: 0.8em;
  }

  @media print {
    font-size: 16px;
  }
}

.skill-set ul li:nth-child(4n),
.skill-set ul li:nth-child(4n+1) {
  background: #d0d3e0;
}

.skill-set ul li:nth-child(4n+2),
.skill-set ul li:nth-child(4n+3) {
  background: #e8d1d1;
}

.company-name {
  font-weight: 500;
  margin-right: 1em;
}

.universal, .tybrin {
  page-break-after: always;
}

.lexis-nexis, .citrix {
  @media print {
    margin-top: 100px;
  }
}

.details-row {
  @media print {
    font-size: 20px;
  }
}

@include sm {
  .details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@include xs {
  .details-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.position-description ul {
  list-style-type: none;
}

.position-description li {
  margin-top: 1em;
  font-size: 15px;
}

.position-title {
  font-style: italic;
}

.education {
  margin-bottom: 4em;
}

.degree {
  font-weight: 600;
  text-align: center;
}

.school {
  text-align: center;
  margin-bottom: 1em;
}
