
<div class="title">
  <h1>R&eacute;sum&eacute;</h1>
</div>

<div class="dave-info">
  <div class="dave-name">Dave Wintermute</div>
  <div class="dave-email"><a href="mailto:dwinterm@gmail.com">dwinterm@gmail.com</a></div>
  <div class="dave-location"><a href="https://goo.gl/maps/nyTK24fkrW1hfV3y9" target="_blank">Winter Park, FL</a></div>
</div>

<h2>Developer Summary</h2>

<div class="developer-summary">
  <span class="summary-title-highlight">Software Development Engineer</span> with diverse experience in areas such as Web, desktop, and mobile application development (with an emphasis on .Net), and a full-stack knowledge of contemporary front-end and back-end technology models. Demonstrates creative solutions to complex technical and process-related challenges. Established reputation for quickly and comprehensively learning new technologies, concepts and codebases. Applies strong analytical expertise together with solid communication and interpersonal skills
</div>

<h2>Technical Skillset</h2>

<div class="skill-set">
    <ul>
        <li>C#, .Net (4.7, Core)</li>
        <li>ASP.NET Core, MVC5</li>
        <li>Angular 7, AngularJS</li>
        <li>MS SQL Server, Entity Framework Core / 6</li>
        <li>JavaScript w/ Ajax, jQuery</li>
        <li>TypeScript, CoffeeScript</li>
        <li>Agile and Scrum methodology</li>
        <li>Cloud Services via Azure</li>
        <li>WPF, Silverlight</li>
        <li>Git, TFS Source Control, Mercurial, Perforce</li>
        <li>TFS Build, Jenkins</li>
        <li>Visual Studio (through 2019), Eclipse</li>
        <li>Web Services in WebAPI, WCF, ASMX</li>
        <li>HTML5, CSS3, Bootstrap, Angular Material</li>
        <li>XML, XSLT</li>
        <li>C / C++ (with STL)</li>
        <li>*nix Platforms (Linux, BSD)</li>
        <li>IIS, AD administration</li>
        <li>OpenGL 1.4, SDL; DirectX 9.0</li>
        <li>Citrix Certified System Administrator</li>
        <li>VMWare, Altiris Image Management Software</li>
    </ul>
</div>

<h2>History</h2>

<div class="history-entry">
    <div class="details-row">
      <span class="company-name">Logisticare Solutions LLC</span>
      <span class="company-location">Gainesville, FL</span>
      <span class="company-dates">2014 - Present</span>
    </div>
    <div class="position">
        <span class="position-title">Senior Software Engineer</span>
        <div class="position-description">
            <ul>
                <li>Built and maintained multiple ASP.Net applications involving a variety of technology stacks (WebForms, MVC, WebAPI). Implemented multi-tiered service-based architecture; leveraged front-end technologies including TypeScript and Bootstrap. </li>
                <li>Oversaw transition of source control platform from Rational ClearCase to Microsoft Team Foundation Server, and subsequently initiated continuous integration including a nightly build process.</li>
            </ul>
        </div>
    </div>
</div>

<div class="history-entry">
    <div class="details-row">
      <span class="company-name">Mindtree Corporation</span>
      <span class="company-location">Gainesville, FL</span>
      <span class="company-dates">2012 - 2014</span>
    </div>
    <div class="position">
        <span class="position-title">Senior Software Engineer</span>
        <div class="position-description">
            <ul>
                <li>Collaborated closely with customer team to bring to market a product to visualize the health and realtime diagnostic status of large electric systems. Employed rich client-side interactivity technologies including several toolkits based on jQuery UI. Leveraged sophisticated n-tiered design centered on JSON-based Web services to deliver a responsive single-page user experience through ASP.NET MVC4.</li>
                <li>Lead project team developing several internal projects (related to resource management and workplace suggestion tracking). Used agile project management techniques for task scheduling, with Version One for iteration tracking. Leveraging ASP.NET MVC4 with jQuery UI as a development framework, Entity Framework 5 on MS SQL Server for data access and storage, and Team Foundation Server for version control. </li>
            </ul>
        </div>
    </div>
    <div class="position">
        <span class="position-title">Technologies Trainer</span>
        <div class="position-description">
            <ul>
                <li>Developed course material for and led courses for topics including: C# language features and the .NET environment, SQL and database concepts, Web application development in ASP.NET, integrating Web services using WCF, desktop application development in WPF with MVVM, testing concepts and methodologies, test automation using HP QuickTest Professional.</li>
            </ul>
        </div>
    </div>
</div>

  <div class="history-entry">
      <div class="details-row">
        <span class="company-name">TYBRIN Corporation</span>
        <span class="company-location">Fort Walton Beach, FL</span>
        <span class="company-dates">2009 - 2012</span>
      </div>
      <div class="position">
          <span class="position-title">Software Development Engineer, Patriot Excalibur Project</span>
          <div class="position-description">
              <ul>
                  <li>Engaged in the ground-up development of multiple completely new modules within the Patriot Excalibur product (which provides resource management and tracking facilities for military customers, primarily the USAF).</li>
                  <li>Developed highly user-friendly user experiences using the Microsoft Silverlight framework, which leveraged Microsoft RIA WCF Services to deliver data from an Entity Framework-based back-end. </li>
                  <li>On other projects, employed ExtJS and jQuery to develop Web-based user interface, which interacted with SOAP Web services (implemented in C#) via Ajax. Implemented underlying data model via Entity Framework on Microsoft SQL Server 2005; interfaced with it via extensive use of LINQ. Product built on ASP.NET running within IIS server environment.</li>
                  <li>Worked successfully on team that subscribed thoroughly to Agile software engineering methodology and principles for its development practices and planning.</li>
              </ul>
          </div>
      </div>
      <div class="position">
          <span class="position-title">Software Development Engineer in Test, Patriot Excalibur Project</span>
          <div class="position-description">
              <ul>
                  <li>Drove project to build a test automation framework and initial test set for the Patriot Excalibur product; Leveraged AutomatedQA TestComplete and Microsoft Visual Studio 2010 (pre-release candidate) Test Automation framework for this task. </li>
                  <li>Served as technical mentor in development areas for those team members with experience more focused on software testing methodology and execution.</li>
              </ul>
          </div>
      </div>
  </div>

  <div class="history-entry">
      <div class="details-row">
        <span class="company-name">Citrix Systems</span>
        <span class="company-location">Fort Lauderdale, FL</span>
        <span class="company-dates">2006 - 2009</span>
      </div>
      <div class="position">
          <span class="position-title">Software Development Engineer in Test, Application Streaming </span>
          <div class="position-description">
              <ul>
                  <li>Contributed to test effort for first release of Citrix Application Streaming feature and initial Application Streaming application compatibility test plan.  </li>
                  <li>Developed test suite for initial release of Citrix Streaming Profiler SDK, including both C# and VB support; collaborated with documentation team to build technical documentation for that release.</li>
              </ul>
          </div>
      </div>
      <div class="position">
          <span class="position-title">Software Development Engineer in Test, Citrix Password Manager (CPM)</span>
          <div class="position-description">
              <ul>
                  <li>Key contributor to successful release of Citrix Password Manager product, including full test closedown cycle. </li>
                  <li>Managed maintenance and feature development for CPM automated test system (encompassing several hundred automated testcases and substantial operating system-level integration; implemented primarily in C# through Visual Studio</li>
                  <li>Implemented and integrated mechanisms to allow automated test platform to perform various logon operations via Vista credential provider interface. </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="history-entry">
      <div class="details-row">
        <span class="company-name">IBM</span>
        <span class="company-dates">2003 - 2004</span>
      </div>
      <div class="position">
          <span class="position-title">Extreme Blue Program, Austin, TX - Outspoken Team, Software Developer</span>
          <div class="position-description">
              <ul>
                  <li>Worked with multi-functional team to develop first end-to-end Web application based on IBM’s multimodal interface technology. Built upon previous experience with IBM’s XHTML+VoiceXML language; worked within IBM’s WebSphere J2EE environment.</li>
              </ul>
          </div>
      </div>
      <div class="position">
          <span class="position-title">Pervasive Computing, Boca Raton, FL - Software Developer  </span>
          <div class="position-description">
              <ul>
                  <li>Interned with IBM Pervasive Computing Development organization, working on development of world’s first multimodal Web browser.</li>
                  <li>Successfully delivered numerous XHTML+VoiceXML technology demonstrations and test scenarios; implemented in the J2EE environment, interacted with IBM DB2 databases.</li>
              </ul>
          </div>
      </div>
  </div>

<h2>Education</h2>

<div class="education">
  <div class="degree">BS, Computer Science</div>
  <div class="school">University of Michigan, Ann Arbor, MI, 2005</div>
  <div class="degree-extra">Awarded Dean’s Merit Scholarship through College of Literature, Science and Arts.</div>
  <div class="degree-extra">Focus on computer visualization and real-time graphics rendering.</div>
</div>
