<header class="nav-bar">
  <div class="nav-bar-content">
    <div class="text-holder">
      <div class="first-name">
        <div class="first-name-first-letter">D</div>
        <div class="first-name-remainder">ave</div>
      </div>
      <div class="last-name">Wintermute</div>
      <div class="dot-com">.com</div>
    </div>
    <div class="btn-container">
      <button type="button" class="btn btn-primary" (click)="navigateToHome()">Home</button>
      <button type="button" class="btn btn-primary" (click)="navigateToResume()">R&eacute;sum&eacute;</button>
      <button type="button" class="btn btn-primary" (click)="navigateToLinks()">Links</button>
    </div>
  </div>
</header>
