
<div class="title">
  <h1>Links</h1>
</div>

<div class="links-group-header dave-links">Dave's Links</div>

<div class="link-entry">
  <a href="https://github.com/davew2040/DwDotComRevTwo">GitHub repo for DaveWintermute.com</a> - The source code for this very site! Written in Angular 6, with a little bit of SASS here and there. Hosted in ASP.Net Core on Azure.
</div>

<div class="link-entry">
  <a href="https://guildtools.azurewebsites.net/">Guild Tools</a> -
  A <a href="https://worldofwarcraft.com/">World of Warcraft</a> utility I created to help people with big ol' guilds keep track of which characters belong to which actual human beings, as well as collect some interesting ranked statistics on each player in said guild (or other guilds).
  Much more "application-y" than this site, with a sizable ASP.Net Core API portion based heavily on Entity Framework Core.
</div>

<div class="link-entry">
  <a href="https://github.com/davew2040/GuildTools">Guild Tools GitHub repo</a> -
  Source code for the Guild Tools project..
</div>

<div class="link-entry">
  <a href="https://github.com/davew2040/SsdCacher">SSD Cache Utility GitHub repo</a> -
  A small WPF-based tool for managing the swapping of installed games between a faster SSD drive and a slower platter-based drive.
</div>

<div class="links-group-header other-links">Other Links</div>

<div class="link-entry">
  <a href="https://vscodecandothat.com/">VS Code Can Do That!</a> - Did you know VS Code can do that??
</div>

<div class="link-entry">
  <a href="https://channel9.msdn.com/">Channel9</a> - Informative videos for the .Net programmer types.
</div>

<div class="link-entry">
  <a href="https://umich.edu/">University of Michigan</a> - <span class="umich"><span class="umich-go">GO</span><span class="umich-blue">BLUE</span></span>!
</div>
