
  <div class="point-drawing-container">
    <h1>Point Drawing</h1>

    <div id="pointHolder" (click)="handleClick($event)" (touchstart)="handleTouch($event)" >
      <div *ngFor="let point of this.points; trackBy: trackByFn"
            class="single-point-holder"
            [@itemAnim]
            [style.top]="'' + (point.y-this.PointBoxSize) + 'px'"
            [style.left]="'' + (point.x-this.PointBoxSize) + 'px'">
        <div
          class="inner-point"
            [style.background]="point.color"
            [style.opacity]="point.opacity"
            [style.top]="this.percentageToAbosluteMargin(point.percentage)"
            [style.left]="this.percentageToAbosluteMargin(point.percentage)"
            [style.bottom]="this.percentageToAbosluteMargin(point.percentage)"
            [style.right]="this.percentageToAbosluteMargin(point.percentage)">
        </div>
      </div>
    </div>
  </div>
