$box-width: 150px;

#pointHolder {
    width: 500px;
    height: 500px;
    background-color: #EEEEEE;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.single-point-holder {
  position: absolute;
  width: $box-width;
  height: $box-width;
  pointer-events: none;
  transform: translateX($box-width/2.0) translateY($box-width/2.0)
}

.inner-point {
  position: absolute;
  border-radius: 999px;
  left: 10%;
  top: 10%;
  right: 10%;
  bottom: 10%;
}

.point-drawing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
